

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.logo
{
    font-family: 'Libre Barcode 128 Text', system-ui;
    font-size: 64px;
    color: white;
    z-index: 1000;
}

.logo:hover
{
    text-decoration: none;
    color: white;
}

header
{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.747);
    box-shadow: 0px 0px 2px 0px white;
    backdrop-filter: blur(10px);
}

li
{
  list-style: none;
}


.link-list
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.links-menu
{
    transition: all 0.3s ease;
}

.menu-link
{
    color: white;
    transition: 0.3s ease-out;
    margin: 10px;
}


.menu-link:hover
{
    color: white;
    text-shadow: 0px 0px 5px white;
    text-decoration: none;
}

*
{

    font-family: 'DotGothic16', sans-serif;
    color: white;
}

.card
{
    
  background-color: #000000cb;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px white;
  transition: 0.3s ease-out;
  margin-bottom: 2rem;
  backdrop-filter: blur(1px);
  width: 90vw;
}



h5
{
  margin:10px;
  font-size:1.8em;
  font-weight:700;
  color: black;
}

p
{
    color: black;
    font-size:14px;
}

a:hover
{
  text-decoration: none;
}
.center
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* End Non-Essential  */

.property-card
{
  height:22rem;
  width:18rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  margin: 10px;
  border: solid 2px rgba(255, 255, 255, 0.219);
  background: linear-gradient(315deg, rgb(0 0 0), rgb(0 0 0));
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:10em;
  width:18em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('assets/img/mediakore.png');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #dbdbdb;
  height:14em;
  width:18em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;

}

/* Social Icons */

.socials-list
{
  background-color: #11111171;
  position: absolute;
  display: flex;
  transform: translateY(300px);
}

.property-social-icons
{
  width: 2em;
  height: 2em;
  background-color: black;
  /* position: fixed; */
  bottom: 1em;
  left: 1em;
  border-radius: 10em;
  display: flex;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  align-items: center;
  justify-content: center;
  margin: 0px 5px 0px 5px;
}

.property-social-icons:hover
{
    box-shadow: 0px 0px 15px 0px #e1e1e37a;
}



.property-social-icons:nth-child(1)
{
  transform: translateX(20px);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:22em;
}


.property-card:hover .property-social-icons:hover
{
  background-color:rgb(0, 0, 0);
  cursor:pointer;
}

.container
{
    margin-top: 15vh;
}

::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #111111;        /* color of the tracking area */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #111111;  /* creates padding around scroll thumb */
  }

  @media (max-width: 925px) {
    .links-menu
    {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.89);
        width: 100%;
        transform: translate(100%, 110px);
        box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
        
    }
    .links-menu.active
    {
        transform: translate(0%, 110px);
        backdrop-filter: blur(10px);
        box-shadow: inset 0px -0.5px 0px 0px white;
    }
    .link-list
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-item
    {
        padding: 20px;
    }
    

  }
