

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.logo
{
    font-family: 'Libre Barcode 128 Text', system-ui;
    font-size: 64px;
    color: white;
    position: fixed;
    z-index: 1000;
    margin: 20px 50px;
}

.logo:hover
{
    text-decoration: none;
    color: white;
}

*

{

    font-family: 'DotGothic16', sans-serif;

}

